@import "header.css";
@import "main.css";
@import "footer.css";
@import "overlay-nav.css";

.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 60rem;
}
