header {
  background-color: var(--main-bg-color);
  padding: 1em 0;
}

.brand {
  color: white;
  font-size: 1.953rem;
  text-decoration: none;
}

.content {
  display: flex;
  align-items: center;
}

#main-button-menu {
  border: 2px solid white;
  color: white;
  padding: 15px;
  margin-left: auto;
}

#main-button-menu:hover {
  background-color: white;
  color: var(--main-bg-color);
}
