<h3>Hola @message</h3>

@code {
    [Parameter]
    public string Message {get; set;}

    string message = "";

    protected override async Task OnInitializedAsync(){
        message = Message;
    }
}