@using BlazorTest.Entities
@inject B_Product ProductService
@inject B_Category CategoryService
@inject NavigationManager NavManager

<h3>CreateProductComponent</h3>


<div>
    <EditForm Model="product">
        @if (IdProduct == null)
            {
                <label>ID</label>
                <InputText @bind-Value="product.Id"></InputText>
            } else {
                <label>ID: @IdProduct</label>
            }
            <label for="nombre">Nombre</label>
            <InputText id="nombre" @bind-Value="product.Name"></InputText>

            <label>Descripcion</label>
            <InputText @bind-Value="product.Description"></InputText>

            <label>Categoria</label>
            <InputSelect @bind-Value="product.CategoryId">
                @foreach (Category category in categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </InputSelect>
                <br />

                @if (IdProduct == null)
            {
                <button @onclick="SaveProduct">Agregar producto</button>
            }
            else
            {
                <button @onclick="UpdateProduct">Actualizar producto</button>
            }

            </EditForm>
        </div>


        @code {
    [Parameter]
    public string IdProduct { get; set; }

    Product product = new Product();
    List<Category> categories = new List<Category>();


    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.CategoryList();
    }


    private async Task SaveProduct()
    {
        await ProductService.CreateProduct(product);
        NavManager.NavigateTo("list-products");
    }

    private async Task UpdateProduct()
    {
        product.Id = IdProduct;
        await ProductService.UpdateProduct(product);
        NavManager.NavigateTo("list-products");
    }
}
