@page "/counter"

<h1>🎛🎮 New version 27/09/2021 8:41 am</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Incrementar</button>
<button class="btn btn-primary" @onclick="DecrementCount">Decrementar</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
