@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Messi and <a href="https://twitter.com/IbaiLlanos?ref_src=twsrc%5Etfw">@IbaiLlanos</a> discussing Tetoner and Fall Ball strategies (2021, Colourised) <a href="https://t.co/m6RTuBEinW">pic.twitter.com/m6RTuBEinW</a></p>&mdash; Fall Guys - Season 5 👑 (@FallGuysGame) <a href="https://twitter.com/FallGuysGame/status/1425760334917349376?ref_src=twsrc%5Etfw">August 12, 2021</a></blockquote> 
