@page "/testPage"

<h1>Embed page!</h1>

<p>This is page with a embed video!</p>

<h2>Visual Studio New Version</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WCTkZ1M_A3I" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<h2>ESPN</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/w-I2c-72VQY" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<h2>Create Bodega</h2>
<CreateStorageComponent />