@page "/testPage"

<h1>Embed page!</h1>

<span>This is page with a embed video!</span>

<iframe width="560" height="315" src="https://www.youtube.com/embed/WCTkZ1M_A3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

