.new-version-toast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background-color: lightgreen;
    padding: 5px;
    margin: 10px 30px 10px 90px;
    /* box-shadow: var(--elevacion-4); */
    position: fixed;
    bottom: 0px;
    width: 400px;
    z-index: 2000;
    color: green;
    border-radius: 8px;
}

    .new-version-toast > button {
        background-color: green;
        color: white;
        white-space: nowrap;
    }
