:root {
  --main-bg-color: #e7625f;
  --main-bg-color-rgb: 0, 30, 101;
  --scale-0: 1.125rem;
  --scale-1: 1.333rem;
  --scale-2: 1.777rem;
  --scale-3: 2.369rem;
  --scale-4: 3.157rem;
  --scale-5: 4.209rem;
  --scale-6: 5.61rem;
  --elevacion-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevacion-2: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  --elevacion-3: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  --elevacion-4: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
  --elevacion-5: 0 20px 40px rgba(0, 0, 0, 0.05);
  --azul-900: #04122f;
  --azul-800: #07285a;
  --azul-700: #0a3f7f;
  --azul-600: #045fae;
  --azul-500: #0572d1;
  --azul-400: #08f;
  --azul-300: #4dacff;
  --azul-200: #99cfff;
  --azul-100: #d6ecff;
  --amarillo-900: #310;
  --amarillo-800: #602e06;
  --amarillo-700: #915608;
  --amarillo-600: #c17e0b;
  --amarillo-500: #f2a41c;
  --amarillo-400: #f4b13e;
  --amarillo-300: #ffc766;
  --amarillo-200: #ffd699;
  --amarillo-100: #fff4e5;
  --gris-900: #524b3d;
  --gris-800: #615848;
  --gris-700: #7b7260;
  --gris-600: #8f8570;
  --gris-500: #a19787;
  --gris-400: #b6ac9a;
  --gris-300: #ccc4b8;
  --gris-200: #e7e2da;
  --gris-100: #f5f3f0;
  --gris-50: #fbfaf9;
  --rojo-900: #300;
  --rojo-800: #600;
  --rojo-700: #970702;
  --rojo-600: #c11a0b;
  --rojo-500: #f22e1c;
  --rojo-400: #f55b4d;
  --rojo-300: #fa857a;
  --rojo-200: #ffb4ad;
  --rojo-100: #ffdad6;
  --verde-900: #00331c;
  --verde-800: #044e2d;
  --verde-700: #12643f;
  --verde-600: #178252;
  --verde-500: #1ea96a;
  --verde-400: #26d988;
  --verde-300: #79e7b5;
  --verde-200: #abf7d5;
  --verde-100: #dbffef;
}
