table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media (max-width: 32rem) {
  .theading {
    display: none;
  }
  td,
  th {
    border: none;
  }
  .tcontent {
    display: block;
    padding: 0.5rem 0;
  }
  .trow {
    padding: 0.25rem 1rem;
    margin: 0.5rem 0;
    display: block;
    border: 1px solid var(--main-bg-color);
    border-radius: 6px;
  }
  .tcontent:before {
    content: attr(data-heading);
    display: inline-block;
    width: 5rem;
    margin-right: 1.5rem;
    color: rgba(var(--main-bg-color), 0.8);
  }
}
