@page "/counter"

<FormTest Message="Test" />
<h1>Counter</h1>
<p>Current count: @currentCount</p>

<button @onclick="IncrementCount">+</button>
<button @onclick="DecrementCount">-</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }

}
