@page "/counter"

<h1>Counter</h1>
<FormTest Message="Test" />
<p>Current count: @currentCount</p>

<fast-button @onclick="IncrementCount">Add</fast-button>
<fast-button @onclick="DecrementCount">Rest</fast-button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }

}
