@inherits LayoutComponentBase

<div class="parent">
    <header>
        <NavMenu />
    </header>
    <main class="wrapper">
        @Body
    </main>
    <footer>
        <div class="wrapper">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About...</a>
        </div>
    </footer>
</div>
