<div class="wrapper content">
    <span class="brand">AWSMSite</span>
    <button id="main-button-menu" @onclick="ToggleNavMenu">MENU</button>
</div>

<div id="myNav" class="overlay @NavMenuCssClass">
    <a class="closebtn" @onclick="ToggleNavMenu">&times;</a>
    <menu @onclick="ToggleNavMenu">
        <NavLink href="counter">
            Counter
        </NavLink>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Principal
        </NavLink>
        <NavLink class="nav-link" href="fetchdata">
            Data fetched
        </NavLink>
        <NavLink class="nav-link" href="list-products">
            List products
        </NavLink>
    </menu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "hide" : "show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
