<div class="wrapper content">
    <NavLink class="brand" href="">AWSMSite</NavLink>
    <button id="main-button-menu" @onclick="ToggleNavMenu">MENU</button>
</div>

<div id="myNav" class="overlay @NavMenuCssClass">
    <div class="wrapper">

        <a class="closebtn" @onclick="ToggleNavMenu">&times;</a>
        <menu @onclick="ToggleNavMenu">
            <NavLink href="counter">
                Counter
            </NavLink>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Principal
            </NavLink>
            <NavLink class="nav-link" href="fetchdata">
                Data fetched
            </NavLink>
            <NavLink class="nav-link" href="list-products">
                List products
            </NavLink>
            <NavLink class="nav-link" href="createStorage">
                Create Storage
            </NavLink>
            <NavLink href="inout">
                In/Out
            </NavLink>
        </menu>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "hide" : "show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
