<fast-button @onclick="ToggleNavMenu">Menu</fast-button>

<div hidden="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <fast-menu>
        <NavLink href="counter">
            <fast-anchor>
                Counter
            </fast-anchor>
        </NavLink>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <fast-anchor>
                Principal
            </fast-anchor>
        </NavLink>
        <NavLink class="nav-link" href="fetchdata">
            <fast-anchor>
                Tabla
            </fast-anchor>
        </NavLink>
    </fast-menu>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool NavMenuCssClass => collapseNavMenu ? false : true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
